* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  form {
    outline: none;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input {
    margin: 1rem;
    height: 50%;
    width: 80ch;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    border: 2px solid black;
  }
  
  button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    border: none;
    outline: none;
  }
  
  .cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .cardDiv {
    margin: 1rem;
    width: 15%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 1px  8px black;
    background-color:cornflowerblue;
  }
  
  .cardDiv span {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  span {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: grey;
    color: white;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .abilitiesDiv {
    text-align: center;
  }
  
  .abilitiesDiv p {
    padding: 0.5rem 1rem;
    border: 1px solid rgb(112, 103, 192);
    box-shadow: inset 2px 2px 10px greenyellow, inset 1px 1px 5px lightblue;
    border-radius: 5px;
  }
  
  h2{
    text-transform: uppercase;
  }